*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
}

.quadrado-principal{
    background-color: rgb(163, 40, 235);
    height: 900px;
    width: 700px;
    border-radius: 0px 10px 10px 0px;
}
.quadrado-secundario{
    background-color: rgb(80, 226, 67);
    height: 900px;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
}

.flex{
    display: flex;
}

.centro-coluna{
    align-items: center;
}

.centro-linha{
    justify-content: center;
}

.div-1{
   width: 250px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: end;
}

.div-2{
    width: 250px;
    height: 250px;
    display: flex;
   justify-content: center;
}

.div-3{
    width: 250px;
    height: 250px;
}

.arruma{
    flex-direction: column;
}

/* .text-arr{
    text-align: center;
    text
} */

.arruma-botao{
    justify-content: center;
    align-items: center;
}

.botao-estilizar{
    width: 150px;
   height: 50px;
   border-radius: 10px;
   background-color: rgb(80, 226, 67);
}

.comeco-coluna{
    justify-content: start;
}

.padding{
    padding: 20px;
    font-size: 18px;
}