*{ /* */
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
}

.quadrado-principal{
    background-color: rgb(123, 173, 29);
    height: 900px;
    width: 700px;
    border-radius: 0px 10px 10px 0px;
}
.quadrado-secundario{
    background-color: rgb(80, 226, 67);
    height: 900px;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
}

.flex{
    display: flex;
}

.colunas{
    align-items: columns;
}
.centro-coluna{
    align-items: center;
}

.centro-linha{
    justify-content: center;
}

.fim-coluna{
    align-items: end;
}

.div01{
    width: 250px;
   height: 25%;
   display: flex;
   justify-content: center;
}
.div02{
    width: 250px;
   height: 25%;
   display: flex;
   justify-content: center;}
.div03{
    width: 250px;
   height: 25%;
   display: flex;
   justify-content: center;}
.div04{width: 250px;
   height: 25%;
   display: flex;
   justify-content: center;}

.div-1{
   width: 250px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: end;
}

.div-2{
    width: 250px;
    height: 250px;
    display: flex;
   justify-content: center;
}

.div-23{
    width: 250px;
    height: 100px;
}

.div-3{
    width: 250px;
    height: 250px;
}

.arruma{
    flex-direction: column;
}

/* .text-arr{
    text-align: center;
    text
} */

.arruma-botao{
    justify-content: center;
    align-items: center;
}

.botao-estilizar{
    width: 150px;
   height: 50px;
   border-radius: 10px;
   background-color: rgb(27, 226, 70);
}

.comeco-coluna{
    align-items: start;
}

.padding{
    padding: 20px;
    font-size: 18px;
}

.div-34{
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.div-4{
    width: 700px;
   height: 25%;
   display: flex;
   justify-content: center;
}

.div-5{
    width: 700px;
   height: 25%;
   display: flex;
   justify-content: center;
}

.div-6{
    width: 700px;
   height: 25%;
   display: flex;
   justify-content: center;
}

.div-7{
    width: 700px;
   height: 25%;
   display: flex;
   justify-content: center;
}

.input-style{
    width: 500px ;
    height: 70px ;
    border-radius: 10px;
}

.botao-estilizar-2{
    width: 200px;
   height: 75px;
   border-radius: 10px;
   background-color: rgb(18, 168, 63);
}

.mini-div{
    width: 150px ;
    height: 100px;
    display: flex;
}

.alinha-text{
    align-items: start;
    justify-content: center;
}

.estiliza-fonte{
    font-size: x-large;
}