*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
}

.quadrado-principal{
    background-color: rgb(163, 40, 235);
    height: 900px;
    width: 700px;
    border-radius: 0px 10px 10px 0px;
}
.quadrado-secundario{
    background-color: rgb(80, 226, 67);
    height: 900px;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
}

.flex{
    display: flex;
}

.centro-coluna{
    align-items: center;
}

.centro-linha{
    justify-content: center;
}

