*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.div1{
    width: 100%;
    height: 33.3%;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(86, 197, 134, 1) 0%, rgba(0, 238, 255, 1) 0%, rgba(0, 238, 255, 1) 50%, rgba(255, 242, 0, 1) 50%, rgba(255, 242, 0, 1) 100%);
}

.div2{
    width: 100%;
    height: 33.3%;
}

.div3{
    width: 100%;
    height: 33.3%;
    background-color: #00EEFF;
}

.colum{
    flex-direction: column;
}

.flex{
    display: flex;
}

.quadradinho-azul{
    height: 150px;
    width: 150px;
    background-color: #00EEFF;
}

.quadradinho-amarelo{
    height: 150px;
    width: 150px;
    background-color: #FFF200;
}

.meio-coluna{
    align-items: center;
}

.space{
    justify-content: space-between;
}

.metade{
   height: 50%;
}

.quadradinho-amarelo2{
    height: 135px;
    width: 135px;
    background-color: #FFF200;
}

.quadradinho-azul2{
    height: 135px;
    width: 135px;
    background-color: #00EEFF;
}

.meio-linha{
    justify-content: center;
}

.fim-coluna{
    align-items: end;
}